#title{
    text-indent: 2%;
    }
    
    #the_waffle {
        padding-top: 5%;
        text-align: center;
        font-size: medium;
    }
    
    #one{
        padding-top: 5%;
        text-align: center;
        font-size: xx-large;
    }
    
    #two {
        padding-top: 5%;
        text-align: center;
        font-size: xx-large;
    }
    
    #three{
        padding-top: 5%;
        text-align: center;
        font-size: xx-large;
    }
    
    #four{
        padding-top: 5%;
        text-align: center;
        font-size: xx-large;
    }