/* id selector (used for specific tags)*/
#course_work {
	background-color: #8E443D;
}

#work_experience {
	background-color: #511730;
}

/* class selector (used for tags that will be re-used)*/
.info {
    font-family: 'Roboto Slab', serif;
    color: white;
}

/* targeting specific things without tagging them all*/
/* ex: all links in work_experience div */
#work_experience a {
    color: #E0D68A;
}
